        @font-face {
            font-family: PixelOperatorMono;
            src: url("PixelOperatorMonoHB8.ttf");
        }
        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
}
        marquee img {
            /*background-color: #e6f2ff;
            border: 14px solid #b2d1f1;
            */
            padding: 0;
            margin: 0;
    }
        marquee p {
            margin: 0;
            padding: 0;
    }
        summary {
            color:aliceblue;
        }
        body {
            font-family: 'PixelOperatorMono';font-size: 28px;
            background-image: url('https://i.redd.it/lh1ot62c9off1.gif');
            background-size: cover;
            background-color: lightblue;
            margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			text-align: center;
    }

        h1 {
            color: aliceblue;
    }
        h2 {
            color: aliceblue;
    }
        h3 {
            color: aliceblue;
    }
        h4 {
            color: aliceblue;
    }
        p {
            color: aliceblue;
    }
        ul {
            color: aliceblue;
    }
        .warningTxt h1 {
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        .warningTxt h2 {
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        .warningTxt h3 {
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        form {
            font-family: 'PixelOperatorMono';
            font-size: 28px;
            color: aliceblue;
        }

        input {
            font-family: 'PixelOperatorMono';
            font-size: 28px;
            color: rgb(0, 0, 0);
        }

